<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no, email=no">
</head>
<link rel="stylesheet" type="text/css" href="css/main.css" id="layerHref">
<body id="app">
	<header class="title"><i @click="returnFn()"></i>获奖记录</header>
	<div class="content">
		<!--显示地址区域-->
		<div class="adr-box">
			<div class="sub-title">
				<div>大转盘奖品收货地址：</div>
				<div class="handle" v-if="!isAdr" @click="setAdr()">立即设置</div>
				<div class="handle1" v-else  @click="changeAdr()">更换地址</div>
			</div>
			<div class="handle-box">
				<span class="no-data" v-if="!isAdr">未编辑收货地址</span>
				<div class="my-user-adr" v-else>
					<div class="adr-t">
						<span>{{defaultAdr.shouhuoren}}</span>
						<span>{{defaultAdr.mobile}}</span>
					</div>
					<div class="adr-d">{{defaultAdr.jiedao}}</div>
				</div>
			</div>
		</div>
		<!--获奖记录-->
		<div class="sub-title">
			<div>获奖记录：</div>
		</div>
		<table class="zhong-list">
			<thead>
				<tr>
					<th>中奖时间</th>
					<th>获得奖品</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="item in recordAry">
					<td>{{item.add_time | time}}</td>
					<td>{{item.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="js/resize.min.js"></script>
<script type="text/javascript" src="js/layer.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/list.js"></script>
