@import 'mixin';
body{
	background: #fff;
	position: static;
	overflow-y: auto;
	color:#828282;
}
.home-content{
	bottom: 2.5rem;
}
.seach-content{
	bottom: 0px;
}
.item-content1{
	margin:0px 0.75rem;
}
.item-btn-row{
	text-align: right;
	padding:0px 0.75rem;
	.button{
		display: inline-block;
	}
}
.swiper-slide-explain{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background:rgba(0,0,0,.4);
	font-size: 14px;
	text-align: left;
	padding:0px 0.25rem;
	line-height: 16px;
	color:#fff;
}
.swipertxt {
	margin:0px auto !important;
	.swiper-slide{
		img{
			width: 100%;
			height: 100%;
		}
	}
	.swiper-pagination{
		top: 0px;
		height: 1.5rem;
		// background: #f00;
		// width: auto;
		// left: 50%;
		// width: 150px;
		// margin-left: -75px;
	}

}
.maxswiperlist{
	img{	
		width: 100%;
	}
}
.max-img-box{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #ccc;
	z-index: 1000;
	@include boxZC;
}
.animatebox{
	-webkit-animation:animateTop .5s  ease  both;
}
@keyframes animateTop {
	0%{
		opacity: 0;
  		-webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0, 100%, 0);
	}
	100%{
		opacity: 1;
  		-webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
	}
}
.foot-bar{
	@include boxJC;
	padding: 0px 0.5rem;
}
.dialog-wrap{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0,0,0,.8);
	z-index: 1000;
	@include boxZC;
	.dialog-main{
		width: 95%;
		background: #fff;
	}
}
.orderdialog {
	h3{
		padding: 0px 0.5rem;
	}
	.content-padded{
		border:1px solid #ccc;
		height: 10.0rem;
		overflow-y: auto;
	}
}
.btn-box{
	@include boxZC;
	.disabled{
		background: #999;
	}
}
.seach-select-list{
	height: 1.5rem;
	background: #ccc;
}
.fiex-select{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 1000;
}
.bar-nav-static{
	position: relative;
	.title{
		position: relative;
	}
}
.txt-box{
	@include ellipsisL($link:3);
}
.search-nav{
	background: #fff;
	height: 2.0rem;
	padding: 0px 0.75rem 0px 1.0rem;
}