input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #d0d0d0; }

i {
  font-style: normal; }

li {
  list-style: none; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

button {
  background: none;
  border: none; }

em {
  font-style: normal; }

@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1477216543_3955305.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1477216543_3955305.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1477216543_3955305.woff") format("woff"), url("//at.alicdn.com/t/font_1477216543_3955305.ttf") format("truetype"), url("//at.alicdn.com/t/font_1477216543_3955305.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal; }

.icon-shanchu:before {
  content: "\e602"; }

.icon-duigou:before {
  content: "\e601"; }

.icon-home_news:before {
  content: "\e600"; }

.shop-tag, .shop-tag1 {
  border: 1px solid #d6d6d6;
  color: #888;
  text-align: center;
  display: inline-block; }

.shop-tag {
  padding: 0.1rem 0.5rem;
  font-size: 11px;
  border-radius: 0.15rem; }

.shop-tag1 {
  line-height: 1.5rem;
  width: 3.9rem;
  font-size: 12px; }

.shop-tag-active, .shop-tag1.active {
  border-color: #ff6b68; }

.shop-tag-active {
  background: #ff6b68;
  color: #fff; }

.shop-tag1.active {
  color: #ff6b68; }

.min-shop-tag {
  padding: 0 0.5rem; }

.hide {
  display: none; }

.btn1 {
  background: #ff6b68;
  color: #fff;
  height: 100%;
  padding: 0px 2.0rem; }

.buttons-tab .button.active {
  color: #ff6b68;
  border-color: #ff6b68; }

.list-block .item-inner:after {
  background: #fff; }

.list-block .item-after {
  font-size: 10px;
  color: #888; }

.list-block .item-text {
  height: auto; }

.list-block {
  margin: 0px; }

body {
  background: #fff;
  position: static;
  overflow-y: auto;
  color: #888;
  font: Arial,Verdana,Sans-serif;
  font-size: 14px; }

.home-content {
  bottom: 2.2rem; }

.seach-content {
  bottom: 0px; }

.item-content1 {
  margin: 0px 0.75rem; }

.item-btn-row {
  text-align: right;
  padding: 0px 0.75rem; }
  .item-btn-row .button {
    display: inline-block; }

.swiper-slide-explain {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  text-align: left;
  padding: 0px 0.25rem;
  line-height: 16px;
  color: #fff; }

.swipertxt {
  margin: 0px auto !important; }
  .swipertxt .swiper-slide img {
    width: 100%;
    height: 100%; }
  .swipertxt .swiper-pagination {
    top: 0px;
    height: 1.5rem; }

.maxswiperlist img {
  width: 100%; }

.max-img-box {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #ccc;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.animatebox {
  -webkit-animation: animateTop .5s  ease  both; }

@keyframes animateTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.foot-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-left: 0.75rem;
  position: fixed;
  height: 2.25rem;
  background: #fff;
  border-top: 1px solid #f6f6f6;
  z-index: 1000; }

.dialog-wrap {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .dialog-wrap .dialog-main {
    width: 95%;
    background: #fff; }

.orderdialog h3 {
  padding: 0px 0.5rem; }
.orderdialog .content-padded {
  border: 1px solid #ccc;
  height: 10.0rem;
  overflow-y: auto; }

.btn-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .btn-box .disabled {
    background: #999; }

.seach-select-list {
  height: 40px;
  border: 1px solid #e5e5e5;
  border: 1px solid #f6f6f6;
  margin-top: 0.4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff; }
  .seach-select-list > li {
    height: 1.0rem;
    border-right: 1px solid #e5e5e5;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    -webkit-flex: 1;
    flex: 1;
    -moz-flex: 1;
    -o-flex: 1;
    -ms-flex: 1;
    color: #828282;
    position: relative;
    position: relative; }
    .seach-select-list > li:last-of-type {
      border-right: none; }
    .seach-select-list > li .icon {
      margin-left: 0.35rem;
      font-size: 12px;
      transition: all .3s ease-in; }
    .seach-select-list > li.active {
      color: #000; }
      .seach-select-list > li.active .icon {
        transform: rotate(180deg); }

.fiex-select {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100000000;
  background: #fff; }
  .fiex-select .seach-select-list {
    margin-top: 0rem; }

.bar-nav-static {
  position: relative;
  padding: 0px  0.8rem 0px 0.75rem; }
  .bar-nav-static .title {
    position: relative; }

.txt-box {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.search-nav {
  background: #fff;
  height: 2.0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .search-nav .icon-home_news {
    color: #000;
    font-size: 1.0rem;
    position: relative; }
    .search-nav .icon-home_news .news-tags {
      position: absolute;
      width: 0.75rem;
      height: 0.75rem;
      border-radius: 50%;
      background-color: #ff6b68;
      color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      top: 2px;
      right: -3px;
      font-size: 9px;
      border: 1px solid #fff; }
  .search-nav .search-input-box {
    -webkit-flex: 1;
    flex: 1;
    -moz-flex: 1;
    -o-flex: 1;
    -ms-flex: 1; }

.open-adr-btn {
  color: #000;
  font-size: 16px; }
  .open-adr-btn .icon-down {
    color: #d6d6d6;
    font-size: 14px; }

.search-input {
  margin: 0px 0.4rem; }
  .search-input input {
    border: 1px solid #d6d6d6;
    line-height: 1.2rem;
    border-radius: 0.6rem; }
  .search-input .icon-search {
    font-size: 14px; }
  .search-input .icon-shanchu {
    position: absolute;
    font-size: 14px;
    right: 0.4rem;
    top: 50%;
    transform: translate3D(0, -50%, 0);
    color: #abafae; }

.home-swiper .swiper-container {
  margin: 0px auto;
  height: 10.5rem; }
  .home-swiper .swiper-container .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    bottom: 0.4rem; }
  .home-swiper .swiper-container .swiper-slide {
    background: #000; }
  .home-swiper .swiper-container .swiper-pagination-bullet-active {
    background: #fff; }

.itme-style .item-content {
  padding: 1rem;
  position: relative; }
  .itme-style .item-content .item-inner {
    padding: 0rem; }
    .itme-style .item-content .item-inner .item-title-row:nth-of-type(1) .item-title {
      color: #000;
      padding-top: 0.2rem;
      font-size: 14px; }
    .itme-style .item-content .item-inner .item-after {
      color: #888;
      font-size: 12px; }
  .itme-style .item-content:after {
    position: absolute;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0px;
    height: 1px;
    background: #e3e3e3;
    bottom: 0;
    -webkit-transform: scaleY(0.5); }
.itme-style .item-media {
  padding: 0rem;
  background: #000; }
  .itme-style .item-media img {
    width: 4.5rem;
    height: 4.5rem; }

.shop-tag-box {
  margin-top: 1rem; }
  .shop-tag-box .shop-tag {
    margin-right: 0.25rem; }

.server-money-box {
  margin-top: 0.3rem; }

.server-money {
  font-size: 13px;
  color: #ff6b68; }

.server-money1 em {
  font-size: 1.2rem; }

.bar-foot-nav {
  color: #c0c0c0;
  font-size: 10px;
  background: #fcfcfc;
  height: 2.2rem;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .bar-foot-nav .tab-item {
    height: 2.2rem; }
    .bar-foot-nav .tab-item .icon {
      font-size: 1.1rem; }
    .bar-foot-nav .tab-item.active {
      color: #000; }

.select-box {
  position: absolute;
  top: 40px;
  left: 0px;
  z-index: 30;
  background: #fff;
  right: 0px;
  padding: 0px 1rem; }

.change-list {
  padding-bottom: 1.5rem; }
  .change-list li {
    position: relative;
    height: 2.0rem;
    font-size: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; }
    .change-list li:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0px;
      height: 1px;
      background: #e5e5e5;
      bottom: 0;
      -webkit-transform: scaleY(0.5); }
    .change-list li.active {
      color: #ff6b68; }

.select-shade {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 20; }

.screen-item {
  margin-top: 1.2rem; }
  .screen-item dt {
    font-size: 12px;
    color: #000; }
  .screen-item dd {
    margin-top: 0.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; }

.screen-btn-box {
  border-top: 1px solid #f6f6f6;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  margin: 3.0rem -1rem 0px; }
  .screen-btn-box button {
    -webkit-flex: 1;
    flex: 1;
    -moz-flex: 1;
    -o-flex: 1;
    -ms-flex: 1;
    color: #ff6b68;
    height: 2.0rem;
    font-weight: 500;
    font-weight: 14px; }
    .screen-btn-box button.screen-btn-active {
      background: #ff6b68;
      color: #fff; }

.icon-duigou {
  font-size: 16px;
  color: #ff6b68; }

.now-address-box {
  line-height: 1.75rem;
  padding: 0px 0.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .now-address-box .now-address {
    font-size: 10px;
    color: #888; }
    .now-address-box .now-address label {
      color: #ff6b68;
      margin-right: 0.4rem;
      font-size: 14px; }

.adr-main {
  padding: 0px; }

.hot-adr-item dt {
  padding: 0px 0.75rem;
  line-height: 1.5rem;
  font-size: 12px;
  color: #000;
  background: #f6f6f6; }
.hot-adr-item dd {
  line-height: 1.75rem;
  padding: 0px 0.75rem;
  font-size: 13px;
  color: #888;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .hot-adr-item dd:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0px;
    height: 1px;
    background: #e5e5e5;
    bottom: 0;
    -webkit-transform: scaleY(0.5); }
  .hot-adr-item dd:last-of-type:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0px;
    height: 1px;
    background: #f6f6f6;
    bottom: 0;
    -webkit-transform: scaleY(0.5); }

.bar-header-secondary {
  padding: 0px 0.75rem;
  border-bottom: 1px solid #e5e5e5; }
  .bar-header-secondary .searchbar-cancel {
    font-size: 14px;
    color: #68bdff; }
  .bar-header-secondary .search-input {
    margin: 0px; }

.input-adr-list {
  position: absolute;
  top: 2.3rem;
  left: 0px;
  width: 100%;
  bottom: 0px;
  overflow-y: auto;
  background: #fff; }

.title-bar {
  font-size: 15px;
  color: #000;
  background: #fff; }
  .title-bar .title {
    height: 1.9rem; }
    .title-bar .title:after {
      background-color: #e5e5e5; }
  .title-bar .icon {
    color: #000; }

.content1, .bg {
  background: #f6f6f6; }

.map-box {
  line-height: 1.75rem;
  padding: 0px 1rem;
  font-size: 12px;
  color: #888;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff; }
  .map-box .adr-specific .icon {
    color: #000;
    margin-right: 0.2rem; }

.details-tab {
  margin-top: 0.4rem; }

.min-itme-style .item-media img {
  height: 3.3rem; }
.min-itme-style .sale {
  text-align: right;
  margin-top: 0.75rem; }
  .min-itme-style .sale .icon {
    margin-left: 0.5rem; }
.min-itme-style .sale-money {
  margin-top: 0.75rem; }

.sale-money i {
  text-decoration: line-through;
  margin-left: 0.25rem; }

.sale-txt {
  font-size: 10px;
  color: #888; }

.evaluate-list .item-inner {
  padding: 0.85rem 0.75rem 0.75rem 0px;
  margin-left: 2.1rem !important; }

.evaluate-content {
  font-size: 12px;
  position: relative; }
  .evaluate-content .item-after {
    color: #888;
    font-size: 10px; }
  .evaluate-content:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0px;
    height: 1px;
    background: #f6f6f6;
    top: 0;
    -webkit-transform: scaleY(0.5); }
  .evaluate-content .item-title {
    font-weight: 500;
    color: #ff6b68; }
  .evaluate-content img {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    position: absolute;
    top: 0.6rem; }
  .evaluate-content .txt-box {
    color: #000; }
  .evaluate-content .all-essay {
    font-size: 10px;
    color: #68dbff;
    margin: 0.3rem 0px 0rem; }

.evaluate-tag-box {
  margin: 0.3rem 0px 0.5rem; }
  .evaluate-tag-box .shop-tag {
    margin-right: 0.4rem; }

.introduce {
  padding: 0.75rem;
  background: #fff; }
  .introduce dt {
    font-weight: 500;
    color: #000; }
  .introduce dd {
    font-size: 12px;
    color: #888;
    line-height: 22px; }

.estimate {
  margin-top: 0.4rem;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  padding: 0 0.75rem;
  margin-top: 0.5rem; }
  .estimate .item-title {
    color: #ff6b68;
    font-weight: 500;
    font-size: 14px; }
  .estimate .item-content {
    padding-left: 0px; }
  .estimate .item-inner {
    padding-right: 0px; }
  .estimate .item-text {
    margin: 0.3rem 0px; }
    .estimate .item-text .shop-tag {
      margin: 0px  0.25rem 0.25rem 0px; }

.do-time {
  margin-top: 0.4rem;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  padding: 0 0.75rem;
  line-height: 35px;
  color: #888; }

.clause {
  margin-top: 0.4rem;
  background: #fff;
  border-top: 1px solid #e5e5e5;
  padding: 0 0.75rem;
  padding: 0.5rem 0.75rem; }
  .clause dt {
    color: #000;
    margin: 0rem 0px 0.5rem; }
  .clause dd {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: 0.2rem;
    font-size: 12px;
    color: #888;
    line-height: 18px; }
    .clause dd div {
      position: relative;
      margin-left: 0.5rem; }
      .clause dd div:before {
        position: absolute;
        content: '';
        top: 5px;
        left: -0.5rem;
        width: 0.2rem;
        height: 0.2rem;
        border-radius: 50%;
        background-color: #ff6b68;
        color: #fff;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center; }

/*# sourceMappingURL=main.css.map */
