input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #d0d0d0; }

@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1477018510_524726.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1477018510_524726.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1477018510_524726.woff") format("woff"), url("//at.alicdn.com/t/font_1477018510_524726.ttf") format("truetype"), url("//at.alicdn.com/t/font_1477018510_524726.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal; }

.icon-home_news:before {
  content: "\e600"; }

body {
  background: #fff;
  position: static;
  overflow-y: auto;
  color: #828282;
  font: Arial,Verdana,Sans-serif;
  font-size: 14px; }

.home-content {
  bottom: 2.5rem; }

.seach-content {
  bottom: 0px; }

.item-content1 {
  margin: 0px 0.75rem; }

.item-btn-row {
  text-align: right;
  padding: 0px 0.75rem; }
  .item-btn-row .button {
    display: inline-block; }

.swiper-slide-explain {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  text-align: left;
  padding: 0px 0.25rem;
  line-height: 16px;
  color: #fff; }

.swipertxt {
  margin: 0px auto !important; }
  .swipertxt .swiper-slide img {
    width: 100%;
    height: 100%; }
  .swipertxt .swiper-pagination {
    top: 0px;
    height: 1.5rem; }

.maxswiperlist img {
  width: 100%; }

.max-img-box {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #ccc;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }

.animatebox {
  -webkit-animation: animateTop .5s  ease  both; }

@keyframes animateTop {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); }
  100% {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.foot-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0px 0.5rem; }

.dialog-wrap {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .dialog-wrap .dialog-main {
    width: 95%;
    background: #fff; }

.orderdialog h3 {
  padding: 0px 0.5rem; }
.orderdialog .content-padded {
  border: 1px solid #ccc;
  height: 10.0rem;
  overflow-y: auto; }

.btn-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .btn-box .disabled {
    background: #999; }

.seach-select-list {
  height: 1.5rem;
  background: #ccc; }

.fiex-select {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000; }

.bar-nav-static {
  position: relative;
  padding: 0px 1.0rem; }
  .bar-nav-static .title {
    position: relative; }

.txt-box {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

.search-nav {
  background: #fff;
  height: 2.0rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center; }
  .search-nav .icon-home_news {
    color: #000;
    font-size: 1.0rem; }
  .search-nav .search-input-box {
    -webkit-flex: 1;
    flex: 1;
    -moz-flex: 1;
    -o-flex: 1;
    -ms-flex: 1; }

.open-adr-btn {
  color: #000;
  font-size: 16px; }
  .open-adr-btn .icon-down {
    color: #d6d6d6;
    font-size: 14px; }

.search-input {
  margin: 0px 0.4rem; }
  .search-input input {
    border: 1px solid #d6d6d6;
    height: 1.2rem !important;
    line-height: 1.2rem;
    border-radius: 0.6rem; }
  .search-input .icon-search {
    font-size: 14px; }
  .search-input .news-tags {
    width: 0.28rem;
    height: 0.28rem;
    border-radius: 50%;
    background-color: #ff6b68;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center; }

/*# sourceMappingURL=main.css.map */
